# Core dependencies
fastapi==0.115.11
uvicorn==0.34.0
python-dotenv==1.0.1

# Email handling
imapclient==2.3.1
email-validator==2.2.0

# Data processing
pandas==1.5.3
numpy==1.23.5

# Optional utilities

regex==2024.11.6

# HTTP requests
httpx==0.28.1
requests==2.32.3

# CORS middleware
starlette==0.46.1

# Other utilities
rich==13.9.4